python-dotenv
langchain
langgraph
pypdf

langchain-google-genai
streamlit
tqdm
# NLP / text utilities
regex
numpy
nest_asyncio
langchain-community
python-multipart


# PDF loaders
PyMuPDF
unstructured
pdf2image
pytesseract

psycopg2-binary
langchain[pgvector]
pgvector
sentence-transformers
sqlalchemy
grpcio