python-dotenv
langchain
langgraph
pypdf
chromadb
faiss-cpu
langchain-google-genai
streamlit
tqdm
# NLP / text utilities
regex
numpy

python-multipart


# PDF loaders
PyMuPDF
unstructured
pdf2image
pytesseract
